main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 24px;
}

i {
  margin-top: 50px;
}

.nes-squirtle,
.nes-charmander {
  display: initial;

}

img {
  image-rendering: pixelated;
  width: 25%;
  pointer-events: none;
}

.showed {
  width: 50%;
}

.hidden {
  filter: hue-rotate(0deg) brightness(0%);
}

.correcto {
  color: green;
}

.incorrecto {
  color: red;
}